mlflow==2.12.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
xgboost==2.0.3

fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.7.1
shap==0.45.0

python-dotenv==1.0.1

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
sentence-transformers==2.7.0

langgraph==0.0.40
langchain-core==0.1.53  
pinecone-client==3.0.0